body {
	background-color: #B2E9FD;
}

.header h2 {
	color: #DC4247;
}

.header p {
	color: #50524F;
}

.results {
	margin-top: 20px;
}
.flex-container-cards {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2%;
    margin-bottom: 2%;
    /* border-style: dotted;
    border-color: red; */
}
